/* ShippingDetail Component Style
------------------------------------- */

.shipping-detail {
  background: #fff;
  padding: 25px 18px;
  border-radius: 8px;
  position: relative;
  border: 1px #d5d9d9 solid;
}

.shipping-detail h2 {
  margin: 0 0 12px;
  font-size: 21px;
}

.edit-btn {
  width: 30px;
  height: 30px;
  border: 0;
  top: 8px;
  right: 8px;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  background: #eaeded;
}

.edit-btn span {
  color: #000;
}

.detail-group {
  display: flex;
  margin-bottom: 8px;
}

.title {
  text-transform: uppercase;
  flex-basis: 30%;
  max-width: 30%;
}

.detail-group span {
  flex-basis: 70%;
}
