/* ToTop Component
--------------------------- */

.to-top {
  background: #37475a;
  padding: 0 2px;
}

.to-top-btn {
  display: block;
  width: 100%;
  height: 49px;
  color: #fff;
  border: 0;
  padding: 16px 0;
  text-align: center;
  cursor: pointer;
  background: transparent;
}

.to-top-btn:hover {
  color: #fff;
  background: #485769;
  text-decoration: none;
}
