/* ProductCategoryVariation Component Style
------------------------------------------------ */

.variation {
  padding: 20px;
  background: #fff;
}

.variation h2 {
  font-size: 18px;
  white-space: nowrap;
  margin: 0 0 10px;
}

.variation-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
  row-gap: 10px;
}

.variation-wrap a:hover {
  text-decoration: none;
}

.variation-text {
  color: #111;
  display: block;
  font-size: 12px;
  padding: 9px 0;
}

/* Media Queries
--------------------------- */

@media (min-width: 1100px) {
  .variation-wrap {
    height: 230px;
    margin-bottom: 20px;
  }

  .variation img {
    height: auto;
  }
}
