/* Global Style
------------------------------ */

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #007185;
}

a:hover {
  text-decoration: underline;
  color: #c7511f;
}

.content-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-primary,
.btn-secondary {
  color: #111;
  outline: none;
  min-height: 29px;
  height: auto;
  cursor: pointer;
  border: 0.5px solid;
  padding: 0 10px 0 11px;
  border-radius: 3px;
}

.btn-primary:focus,
.btn-secondary:focus {
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}

.btn-primary {
  border-color: #a88734 #9c7e31 #846a29;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
}

.btn-primary:hover {
  border-color: #a88734 #9c7e31 #846a29;
  background: linear-gradient(to bottom, #f5d78e, #eeb933);
}

.btn-secondary {
  background: #e7e9ec;
  border-color: #7283a0 #a2a6ac #8d9096;
}

.btn-secondary:hover {
  border-color: #a2a6ac #979aa1 #82858a;
  background: linear-gradient(to bottom, #e7eaf0, #d9dce1);
}
