/* Auth Components Style
--------------------------- */

.form-main {
  padding: 16px 20px;
}

.form-logo-link {
  display: flex;
  justify-content: center;
  padding: 12px 12px 18px;
}

.form-logo-img {
  width: 100px;
}

.auth-content-wrap {
  max-width: 350px;
  margin: 0 auto;
}

.form-wrap {
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 24px;
}

.form-wrap fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

.form-wrap legend {
  padding: 0;
  width: 100%;
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 15px;
}

.form-wrap label {
  display: block;
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 5px;
}

.form-wrap input,
.form-wrap button {
  width: 100%;
}

.form-group {
  margin-bottom: 16px;
}

.form-group input {
  height: 31px;
  padding: 3px 7px;
}

.invalid-feedback {
  color: #dc3545;
}

.password-info {
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 16px;
}

.recovery-link {
  display: inline-block;
  margin-top: 5px;
}

.form-notice {
  font-size: 11px;
  padding-top: 16px;
  line-height: 1.7;
}

.form-notice > div {
  margin-bottom: 20px;
}

.new-to {
  font-size: 12px;
  color: #767676;
  text-align: center;
  margin-bottom: 14px;
}

.create-acct-btn {
  width: 100%;
}

.form-footer {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
  margin-top: 26px;
}

.form-footer .content-wrap {
  padding: 28px 0 36px;
  text-align: center;
  font-size: 12px;
}

.form-footer-notice {
  padding-bottom: 10px;
}

.form-footer-notice a {
  display: inline-block;
  padding-right: 20px;
}
